.logo
{
  text-align: center;
  margin-top: 1%;
}

.social
{
  text-align: right;
  margin-right:3%;
  margin-top: 1%;
}

.galleria
{background: white;}

.my
{color:#4f4f4f;}

.map
{margin-top: 3%;}

.contacts
{margin-top: 5%;} 

.colortext
{color: #4a92ff;}

.galleria-theme-classic
{
  background-color: #fff;
  border: 1px solid #fff;
}

.galleria-theme-classic .galleria-thumbnails .galleria-image
{
  border: 1px solid #fff;
}

.content
{
  text-align: center;
  margin-right:15%;
}